<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK"/>
  </configSections>
  <aws>
      <add key="AWSAccessKey" value="EYNAEYNAEYNAEYNA"/>
      <add key="AWSSecretKey" value="uAWguAWguAWguAWguAWguAWguAWg"/>
  </aws>
</configuration>